<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    
    <param name="robot_description" command="cat $(find robot_description)/urdf/robot.urdf" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot1 -x 0 -y 0 -z 0" output="screen" />  
     
    <rosparam command="load" file='$(find robot_control)/config/config.yaml'/>


    <node name='controller_spawner' pkg='controller_manager' type='spawner' respawn='false'
        output='screen' ns='/ros_control_tester'
        args='joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller' />
    
    <node name='robot_state_publisher' pkg='robot_state_publisher' type='robot_state_publisher'
        respawn='false' output='screen'>
        <remap from='/joint_states' to='/ros_control_tester/joint_states' />
    </node>
    
</launch>